<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASm4jwNsoJep_yp7bYEoW_gusgmslPM7k</string>
	<key>GCM_SENDER_ID</key>
	<string>989114760657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruimartins2024.courseProject</string>
	<key>PROJECT_ID</key>
	<string>course-project-74e99</string>
	<key>STORAGE_BUCKET</key>
	<string>course-project-74e99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989114760657:ios:c4ae536d3f794fc0d6f4f0</string>
</dict>
</plist>